/*-- scss:defaults --*/

// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

$light-colors: (
  "ubclblue": #6495ed,
  "orange": #FFa319,
  "yellow": #f9c80e,
  "brown": #a15e49,
  "teal": lighten(#17bebb, 20%),
  "lavender": #A393BF,
  "grey": #6c7888,
  "white": #fbfcff, // full blue, bit less green and red to match the primary colour
);

$dark-colors: (
  "black": #00162e, // darker version of primary
  "ubcblue": #002145,
  "claret": #a41623,
  "green": #177245
);

$colors: map-merge($light-colors, $dark-colors);

@function theme-color($color) {
  @return map-get($colors, $color);
}

$primary: theme-color("ubcblue");
$secondary: theme-color("claret");
$tertiary: theme-color("yellow");
$fourth-colour: theme-color("green");
$fifth-colour: theme-color("lavender");

/* $font-family-sans-serif: 'Red Hat Display', sans-serif; */
/* $presentation-heading-font: 'Red Hat Display', sans-serif; */

$body-bg: theme-color("white");
$body-color: theme-color("black"); // darker version of primary
$presentation-heading-color: lighten($primary, 10%);
$presentation-font-size-root: 36px;

$link-color: $secondary;
$text-muted: $secondary;
$callout-color-note: $primary;
$callout-color-tip: $fourth-colour;
$callout-color-important: $secondary;
$callout-color-caution: $tertiary;

// darken($body-bg, 2%);
$code-block-border-color: darken($body-bg, 10%);
$code-block-bg: #ffffff;
$code-block-font-size: .65em;

/*-- scss:rules --*/

.reveal .slide-logo {
  height: 100px !important;
  width: 86px !important;
  max-width: unset !important;
  max-height: unset !important;
}

.monotype {
  font-family: $font-family-monospace;
}

@each $name, $color in $colors {
  .reveal .slides section .fragment.hl-#{$name} {
    opacity: unset;
    visibility: unset;

    &.visible {
      background-color: lighten($color, 10%);
    }

    &.current-fragment {
      background-color: $color;
    }
  }
  .#{$name} {
    color: $color;
  }
}

.reveal .slide figure>figcaption {
  color: theme-color("grey");
  text-align: "center";
}

@each $name, $color in $dark-colors {
  .reveal .slides section .fragment.hl-#{$name} {
    &.visible { color: $body-bg; }
    &.current-fragment { color: $body-bg; }
  }
}


.primary {color: theme-color("ubclblue");}
.secondary {color: $secondary;}
.tertiary {color: $tertiary;}
.grey {color: theme-color("grey");}
.fourth-colour {color: $fourth-colour;}
.small {font-size: 0.75em;}
.smallest {font-size: 0.5em;}


.reveal .slides section div.callout {
  font-size: 1em;
}

.inverse {
  color: $body-bg;
  .slide-background-content {
    background-color: $primary;
  }
  h1, h2, h3 {
    color: $body-bg;
  }

  a {
    color: $body-bg;
  }
}

.box-text {
  color: theme-color("black");
  font-size: 1.2em;
  background-color: $body-bg;
  border: 5px;
  border-style: solid;
  border-color: theme-color("claret");
  padding: 3em;
}

.cover-box-black {
  color: theme-color("black");
  background-color: $body-bg;
  padding: 1em;
}

.cover-box-secondary {
  color: $secondary;
  background-color: $body-bg;
  padding: 0 10em 0 0;
}

.cover-box-tertiary {
  color: $tertiary;
  background-color: $body-bg;
  padding: 1em;
}



ul {list-style: none;}
ol li::marker {color: lighten($primary, 10%);}
ul li::marker {color: lighten($primary, 10%);}
dt {color: lighten($primary, 10%);}



//.reveal .callout.callout-style-simple .callout-body,
//.reveal .callout.callout-style-default .callout-body,
//.reveal .callout.callout-style-simple div.callout-title,
//.reveal .callout.callout-style-default div.callout-title {
//  font-size: 1.2em;
//}


.reveal div.callout.callout-style-default div.callout-content {
  background-color: #ffffff;
}
.reveal .callout.callout-style-default .callout-icon::before,
.reveal .callout.callout-style-simple .callout-icon::before {
  height: 2.5rem;
  width: 2.5rem;
  background-size: 2.5rem 2.5rem;
}

.reveal .callout.callout-titled .callout-icon::before {
  margin-top: 1.75rem;
}

.reveal div.sourceCode {
  border: none;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}


.reveal code {
  color: theme-color("ubclblue");
}

.reveal pre code {
  padding-left: 10px;
  border: 2px solid;
  border-radius: 4px;
  border-color: darken($body-bg, 10%);
  background-color: #ffffff;
}

.codelike-format {
  border: 2px solid;
  border-radius: 4px;
  border-color: darken($body-bg, 10%);
}

.scrollable-output {
  max-height: 500px; /* Adjust the height as needed */
  overflow-y: auto;  /* Enables vertical scrolling */
}

.inner-list {
  font-size: 0.85em; /* Adjust size as needed */
}

/*
   VERTICAL ALIGN
   http://tachyons.io/docs/typography/vertical-align/
*/

.v-base     { vertical-align: baseline; }
.v-mid      { vertical-align: middle; }
.v-top      { vertical-align: top; }
.v-btm      { vertical-align: bottom; }

/*
  TEXT ALIGN
  Docs: http://tachyons.io/docs/typography/text-align/
*/

.tl  { text-align: left; }
.tr  { text-align: right; }
.tc  { text-align: center; }
.tj  { text-align: justify; }

/*
   TEXT TRANSFORM
   Docs: http://tachyons.io/docs/typography/text-transform/
*/

.ttc { text-transform: capitalize; }
.ttl { text-transform: lowercase; }
.ttu { text-transform: uppercase; }
.ttn { text-transform: none; }

.flex {
  display: flex;
  justify-content: space-between;
}

/*
   WIDTHS
   Docs: http://tachyons.io/docs/layout/widths/

   Base:
     w = width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale

     -10  = literal value 10%
     -20  = literal value 20%
     -25  = literal value 25%
     -30  = literal value 30%
     -33  = literal value 33%
     -34  = literal value 34%
     -40  = literal value 40%
     -50  = literal value 50%
     -60  = literal value 60%
     -70  = literal value 70%
     -75  = literal value 75%
     -80  = literal value 80%
     -90  = literal value 90%
     -100 = literal value 100%

     -third      = 100% / 3 (Not supported in opera mini or IE8)
     -two-thirds = 100% / 1.5 (Not supported in opera mini or IE8)
     -auto       = string value auto


   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

/* Width Scale http://tachyons.io/docs/layout/widths/ */

.w1 {    width: 1rem!important; }
.w2 {    width: 2rem!important; }
.w3 {    width: 4rem!important; }
.w4 {    width: 8rem!important; }
.w5 {    width: 16rem!important; }

.w-10 {  width:  10%; }
.w-20 {  width:  20%; }
.w-25 {  width:  25%; }
.w-30 {  width:  30%; }
.w-33 {  width:  33%; }
.w-34 {  width:  34%; }
.w-35 {  width:  35%; }
.w-40 {  width:  40%; }
.w-45 {  width:  45%; }
.w-50 {  width:  49%; }
.w-55 {  width:  54%; }
.w-60 {  width:  59%; }
.w-65 {  width:  64%; }
.w-70 {  width:  79%; }
.w-75 {  width:  74%; }
.w-80 {  width:  79%; }
.w-85 {  width:  84%; }
.w-90 {  width:  89%; }
.w-95 {  width:  94%; }
.w-100 { width: 100%; }

.w-third { width: 32%; }
.w-two-thirds { width: 65%; }
.w-auto { width: auto; }


/*
   HEIGHTS
   Docs: http://tachyons.io/docs/layout/heights/

   Base:
     h = height
     min-h = min-height
     min-vh = min-height vertical screen height
     vh = vertical screen height

   Modifiers
     1 = 1st step in height scale
     2 = 2nd step in height scale
     3 = 3rd step in height scale
     4 = 4th step in height scale
     5 = 5th step in height scale

     -25   = literal value 25%
     -50   = literal value 50%
     -75   = literal value 75%
     -100  = literal value 100%

     -auto = string value of auto
     -inherit = string value of inherit
*/

/* Height Scale */
.h1 { height: 1rem!important; }
.h2 { height: 2rem!important; }
.h3 { height: 4rem!important; }
.h4 { height: 8rem!important; }
.h5 { height: 16rem!important; }

/* Height Percentages - Based off of height of parent */
.h-25 {  height:  25%; }
.h-30 {  height:  30%; }
.h-35 {  height:  35%; }
.h-40 {  height:  40%; }
.h-45 {  height:  45%; }
.h-50 {  height:  50%; }
.h-55 {  height:  55%; }
.h-60 {  height:  60%; }
.h-65 {  height:  65%; }
.h-70 {  height:  70%; }
.h-75 {  height:  75%; }
.h-80 {  height:  80%; }
.h-85 {  height:  85%; }
.h-90 {  height:  90%; }
.h-95 {  height:  95%; }
.h-100 { height: 100%; }